.divContainer{
  height: 15rem;
  position: absolute;
  top: 37rem;    
  display: grid;  
}

.EQcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 100%;
  background-color: #0000001f;
  border-radius: 2rem;  
}

.heading {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.4rem;
  height: 4rem;
  margin-top: 3.5rem;
}

.verticalSlider {  
  width: 8rem;
  transform: rotate(-90deg);
  margin-bottom: 4rem;  
  cursor: pointer;
  background: #555;
  border-radius: 5px;
  touch-action: none;
}

.verticalSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #333;
}

.verticalSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: grab;
  border: 2px solid #333;
}

.label {
  font-size: 0.7rem;  
  color: #ffffff97;  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.presetButton, .inActiveButton, .presetButtonActive {
  padding: 0.2rem 0.5rem;
  text-decoration: double;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}

.presetButton{  
  background-color: #333;
  border-color: #3333334a;
  color: #fff;
  cursor: pointer;
}

.presetButtonActive {
  background-color: #909090;
  border-color: #000000b4;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.2px 0.2px 10px hsl(0, 0%, 0%);
}

.inActiveButton {  
  background-color: #33333339;  
  color: #ffffff53;
  cursor:none;
  border: none;
}

.linesDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  opacity: 0.18;
}

.linesDiv .line {
  border: none;
  height: 0.1rem;
  background-color: #ffffff77;
  margin: 0;
}

.info {
  display: grid;  
  justify-content: center;
  align-items: center;
  margin-top: 1rem;  
}

.infoText {      
  font-size: 0.8rem;
  color: #ffffff3a;
}

.presetsContainer {
  background-color: #00000029;
  border-radius: 1rem;
  padding: 0.3rem 0;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  height: 21rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.presetsContainer::-webkit-scrollbar {
    width: 12px;
}

.presetsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
}

.presetsContainer::-webkit-scrollbar-track {
    background: transparent;
}

.presetsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0.25rem auto;
  background-color: #181818b1;
  height: 2.2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;    
}

.presetsDiv:hover {
  background-color: #3d3d3db1;
}

.preset {
  font-size: 0.75rem;
  color: #b0b0b0c7;
  width: 26rem;
  cursor: pointer;
  padding: 1rem 0rem;
  transition: 0.3s ease;
}

.preset:hover {
  font-size: 0.8rem;
  color: #cececef2;
  padding: 0.5rem 0rem;
  transition: 0.3s ease;
}

.presetUpdate {
  margin-top: 0.2rem;
  margin-left: 1rem;
  padding: 0.4rem;
  font-size: 1rem;  
  background-color: #33333300;
  border-color: #33333300;
  cursor: pointer;
  z-index: 3;
  color: #c2c2c28d;
  transition: 0.5s ease;
}

.presetUpdate:hover {
  color: #ffffffe7;
  background-color: #0f0f0fe5;
  border-radius: 1rem;
  font-size: 1.3rem;
  padding: 0.2rem 0.6rem;
  transition: 0.5s ease;
}

.presetDelete {
  margin-top: 0.2rem;
  margin-left: 1rem;
  padding: 0.4rem;
  font-size: 0.75rem;  
  background-color: #33333300;
  border-color: #33333300;
  cursor: pointer;
  z-index: 3;
  color: #ff000094;
  transition: 0.5s ease;
}

.presetDelete:hover {
  color: #ff0000e7;
  background-color: #0f0f0fe5;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  margin-left: 0.3rem;
  transition: 0.5s ease;
}

.notLoggedIn {  
  font-size: 0.8rem;
  margin-top: 4rem;
  margin-left: 11.2rem;
  color: #a1a1a1a6;
}

@media (max-height: 1191px) {
  .presetsContainer {        
    height: 12.8rem;
  }
}

@media (max-height: 1050px) {
  .presetsContainer {        
    height: 5rem;
  }
}

@media (max-height: 990px) {
  .presetsContainer {        
    height: 5rem;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .divContainer{    
    top: 440px;
  }

  .EQcontainer {
    height: 10rem;
    margin-top: -1rem;    
  }

  .heading {
    font-size: 1rem;
  }
  
  .verticalSlider {  
    width: 7rem;
  }

  .linesDiv {    
    height: 70%;
    opacity: 0.12;
    border-radius: 1rem;
    margin-top: 1rem;
  }

  .label {
    font-size: 0.7rem;    
    color: #ffffff97;  
  }

  .buttons {  
    gap: 1rem;
    margin-top: 1rem;
  }

  .presetsContainer {        
    height: 10.2rem;
  }
}