.divContainer{
  height: 15rem;
  width: 100%;
  max-width: 600px;
  border-radius: 1rem;
  margin: 4rem auto 0 auto;
  position: absolute;
  top: 500px;    
  display: grid;    
}

.EQcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 100%;
  background-color: #00000025;
  border-radius: 2rem;
  margin-top: 2rem;
}

.heading {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
  height: 6rem;
  margin-top: 4rem;
}

.verticalSlider {  
  width: 8rem;
  transform: rotate(-90deg);
  margin-bottom: 2rem;  
  cursor: pointer;
  background: #555;
  border-radius: 5px;
  touch-action: none;
}

.verticalSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #333;
}

.verticalSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: grab;
  border: 2px solid #333;
}

.label {
  font-size: 12px;
  margin-top: 2rem;
  color: #ffffff97;  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.resetButton, .inActiveButton {
  padding: 0.2rem 0.5rem;
  text-decoration: double;
  font-size: medium;
  border-radius: 0.5rem;
}

.resetButton{  
  background-color: #333;
  border-color: #3333334a;
  color: #fff;
  cursor: pointer;
}

.inActiveButton {  
  background-color: #33333339;  
  color: #ffffff53;
  cursor:none;
  border: none;
}

.linesDiv {
  position: absolute;
  top: -10;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  opacity: 0.16;
}

.linesDiv .line {
  border: none;
  height: 2px;
  background-color: #fff;
  margin: 0;
}

.info {    
  margin-top: 1rem;
  max-width: 15rem;
  margin-left: 12rem;
}

.infoText {      
  font-size: 0.8rem;
  color: #ffffff57;
}

/* --- MOBILE STYLES --- */
@media (max-width: 768px) {
  .divContainer{    
    top: 400px;    
  }

  .EQcontainer {
    height: 10rem;
    margin-top: -1rem;    
  }

  .heading {
    font-size: 1rem;    
  }
  
  .verticalSlider {  
    width: 7rem;
  }

  .linesDiv {    
    height: 94%;
    opacity: 0.12;
    border-radius: 1rem;
  }

  .buttons {  
    gap: 1rem;
    margin-top: 2rem;
  }

  .info {    
    max-width: 20rem;
    margin-top: 0.5rem;   
    margin-left: 4rem;    
  }  
}