.container {
    padding: 1rem auto 1rem;
    margin-left: 10%;
}

.categoryTitle {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.horizontalScroll {    
    width: 100%;    
    display: flex;
    overflow-x: auto;
    align-items: flex-start;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.row {
    display: flex;
    gap: 2rem;
}

.cardWrapper {
    width: 2rem;
    transition: 1s;
    position: relative;
}

.cardWrapper:hover {
    width: 12rem;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    transform: translateY(-10px) scale(1.05);
    z-index: 100;
}

@media (max-width: 768px) {
}