.inputWrapper {
    position: relative;
}

.input {
    height: 40px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 0 20px 0 10px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #333;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .input {
        height: 36px;
        width: 210px;
    }
}