.videoLink {
    display: block;
    width: 100%;
    height: full;
    text-decoration: none;
    margin-top: 2rem;
    opacity: 80%;
    transition: 0.5s;
}

.videoLink:hover {
    opacity: 95%;
    transition: 0.5s;
}

.teaserVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .videoLink {
        height: 12vh;
        margin-top: 1%;
        margin-bottom: 15%;
    }
}