.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.text2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
}

.text3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2.8rem;
}

@media (max-width: 768px) {
    .notAvailable {
        font-size: 0.8rem;
        color: #949494;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}