.container {
    margin-top: -1rem;
}

.infoText {
    color: #aaa;
    font-size: 16px;
    margin-bottom: 10px;
}

.addButton {
    padding: 10px 5px;
    margin: 0.5rem;
    background-color: #55555581;
    border-radius: 6px;
    color: #ffffff8c;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.addButton:hover {
    background-color: #555555c5;
    color: #ffffffd3;
    transition: 0.5s;
}

.playlistsContainer {
    display: grid;
    grid-template-columns: repeat(5, 12rem);

}

@media (max-width: 768px) {
    .playlistsContainer {
        display: grid;
        grid-template-columns: repeat(2, 12rem);
    }

    .addButton {
        margin-top: 1rem;
        padding: 6px 1px;
        width: 10.4rem;
    }
}