.googleButton {
    background-color: #2456a7;
    color: white;    
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 32px;
    width: 100%;
    max-width: 18rem;
    margin-bottom: 12px;
    transition: 0.5s;
}

.googleButton:hover {
    background-color: #4285f4;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .googleButton {
        height: 30px;
    }
}