.input1 {
    height: 30px;
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 0 10px;
    margin-bottom: 12px;
}

.input2 {
    margin-left: 1rem;
    height: 1.3rem;
    border: 0rem rgba(0, 0, 0, 0);
    border-radius: 1rem;
    padding-left: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgba(122, 122, 122, 0.516);
}

@media (max-width: 768px) {
    .input1 {
        height: 28px;
        width: 220px;
    }
}
