.container {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.1rem;    
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 60rem;
}

.rgbStyleBG {
    position: absolute;
    left: -1rem;
    width: 110%;
    height: 100%;
    background-image: linear-gradient(90deg, 
        red, orange, yellow, green, cyan, blue, violet, red);
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: moveGradient 2.8s linear infinite;
    outline: none;
    z-index: -99;
}

.playerButton,
.settingsButton {
    width: 40px;
    height: 30px;
    background-image: url("/assets/icons/player.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;    
    padding-left: 2rem;
}

.playerButton:hover,
.settingsButton:hover {
    opacity: 1;
}

.settingsButton {    
    background-image: url("/assets/icons/settings.png");
    width: 35px;
    height: 22px;
    opacity: 0.5;
}



@keyframes scroll {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}