.emptyRow {
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 50rem;    
}

.emptyPlayer, .songsAdd {
    font-size: larger;
    color: #ffffff76;    
}

.songsAdd:hover {
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .emptyRow {
        margin-top: 34rem;    
    }

    .emptyPlayer, .songsAdd {
        font-size: medium;
        color: #ffffff76;    
    }
}